* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #0d1d39,
    #14213a,
    #1a253c,
    #20293d
  );
}

body header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

body header .img-header {
  width: 150px;
  height: 125px;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url(./img/Weather+Targeting.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body header .input-city {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

body header h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #bacdf5;
  margin: 10px 0;
}

body header .input-city input {
  width: 60%;
  max-width: 300px;
  padding: 5px 15px;
  border: 1px solid #d8e0fd;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
}

body header .input-city button {
  color: white;
  font-weight: bold;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #285a7f;
  cursor: pointer;
  transition: transform 0.5s;
}

body header .input-city button:hover {
  transform: scale(1.05);
}

#root {
  display: flex;
  justify-content: center;
}

.cardWeather {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 260px;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 25px 10px;
  gap: 10px;
  border-radius: 10px;
  background-image: linear-gradient(
    to right bottom,
    #284571,
    #285a7f,
    #326e8a,
    #468193,
    #5f949b
  );
  box-shadow: 0px 0px 15px 4px rgba(255, 254, 254, 0.1);

  text-align: center;
  font-size: 2rem;
  color: whitesmoke;
}
.cardWeather .imgWeather {
  width: 100px;
}

.titleText {
  font-size: 2rem;
}
.text {
  width: 70%;
  min-width: 200px;
  margin: 20px 0;
  font-size: 1.6rem;
}
